@model Template
@using System.Text.Json
@using System.Collections.Generic

@{
    Dictionary<string, object>? bodyDict = null;
    try
    {
        if (!string.IsNullOrEmpty(Model.Body))
        {
            bodyDict = JsonSerializer.Deserialize<Dictionary<string, object>>(Model.Body);
        }
    }
    catch
    {
        bodyDict = new Dictionary<string, object>();
    }

    var messageText = bodyDict != null && bodyDict.ContainsKey("text") ? bodyDict["text"]?.ToString() : "";
}

<form method="post" asp-action="Update" asp-route-id="@Model.Id" class="ajaxform">
    @Html.AntiForgeryToken()

    <input type="hidden" name="_method" value="PUT" />

    <div class="row">
        <!-- Template Name -->
        <div class="col-sm-12">
            <div class="form-group">
                <label>Template Name</label>
                <input type="text" name="Title" class="form-control" value="@Model.Title" required>
            </div>
        </div>

        <!-- Message Text -->
        <div class="col-sm-12">
            <div class="form-row mb-1">
                <label class="col-6">Message:</label>
                <div class="col-6">
                    <button type="button" data-toggle="modal" data-target="#help-modal" class="btn btn-neutral btn-sm float-right">
                        <i class="fas fa-code"></i>&nbsp;Shortcodes
                    </button>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control h-200" name="messageText" required maxlength="1000">@messageText</textarea>
            </div>
        </div>

        <!-- Status Toggle -->
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-8 d-flex">
                    <label class="custom-toggle custom-toggle-primary">
                        <input type="checkbox" name="Status" id="template-status" value="1" @(Model.Status == 1 ? "checked" : "")>
                        <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                    </label>
                    <label class="mt-1 ml-1" for="template-status">
                        <h4>Make it active template?</h4>
                    </label>
                </div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-outline-primary submit-button float-right">Save Template</button>
                </div>
            </div>
        </div>
    </div>
</form>
