@{
    var currentPath = ViewContext.HttpContext.Request.Path;
}
<!-- Nav items -->
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/dashboard") ? "active" : "")" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
            <i class="fi fi-rs-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/order") ? "active" : "")" asp-area="Admin" asp-controller="Order" asp-action="Index">
            <i class="fi fi-rs-boxes"></i>
            <span class="nav-link-text">Orders</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/plan") ? "active" : "")" asp-area="Admin" asp-controller="AdminPlan" asp-action="Index">
            <i class="fi fi-rs-light-switch"></i>
            <span class="nav-link-text">Subscriptions</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/customer") ? "active" : "")" asp-area="Admin" asp-controller="AdminCustomer" asp-action="Index">
            <i class="fi fi-rs-users-alt"></i>
            <span class="nav-link-text">Customers</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/gateways") ? "active" : "")" asp-area="Admin" asp-controller="Gateways" asp-action="Index">
            <i class="fi fi-rs-bank"></i>
            <span class="nav-link-text">Payment Gateways</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/cron-job") ? "active" : "")" asp-area="Admin" asp-controller="CronJob" asp-action="Index">
            <i class="fi fi-rs-calendar-clock"></i>
            <span class="nav-link-text">Cron Jobs</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/support") ? "active" : "")" asp-area="Admin" asp-controller="Support" asp-action="Index">
            <i class="fi fi-rs-headset"></i>
            <span class="nav-link-text">Help & Supports</span>
        </a>
    </li>
</ul>

<!-- Heading -->
<h6 class="navbar-heading p-0 text-muted mt-4">User Logs</h6>

<!-- Navigation -->
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/devices") ? "active" : "")" asp-area="Admin" asp-controller="Devices" asp-action="Index">
            <i class="fi fi-rs-devices"></i>
            <span class="nav-link-text">Devices</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/apps") ? "active" : "")" asp-area="Admin" asp-controller="Apps" asp-action="Index">
            <i class="fi fi-rs-apps"></i>
            <span class="nav-link-text">Apps</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/contacts") ? "active" : "")" asp-area="Admin" asp-controller="Contacts" asp-action="Index">
            <i class="fi fi-rs-address-book"></i>
            <span class="nav-link-text">Contacts</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/template") ? "active" : "")" asp-area="Admin" asp-controller="AdminTemplate" asp-action="Index">
            <i class="fi fi-rs-template-alt"></i>
            <span class="nav-link-text">Templates</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/schedules") ? "active" : "")" asp-area="Admin" asp-controller="Schedules" asp-action="Index">
            <i class="ni ni-calendar-grid-58"></i>
            <span class="nav-link-text">Schedules</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/message-transactions") ? "active" : "")" asp-area="Admin" asp-controller="Schedules" asp-action="Index">
            <i class="ni ni-calendar-grid-58"></i>
            <span class="nav-link-text">Messages</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/notification") ? "active" : "")" asp-area="Admin" asp-controller="notification" asp-action="Index">
            <i class="ni ni-calendar-grid-58"></i>
            <span class="nav-link-text">Notifications</span>
        </a>
    </li>
</ul>

<!-- Heading -->
<h6 class="navbar-heading p-0 text-muted mt-4">Appearance</h6>

<!-- Navigation -->
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/blog") || currentPath.StartsWithSegments("/admin/category") || currentPath.StartsWithSegments("/admin/tag") ? "active" : "")" data-toggle="collapse" href="#navbar-forms" role="button" aria-expanded="false" aria-controls="navbar-forms">
            <i class="fi fi-rs-blog-text"></i>
            <span class="nav-link-text">Blogs</span>
        </a>
        <div class="collapse" id="navbar-forms">
            <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Blog" asp-action="Index" class="nav-link">Blogs</a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="nav-link">Category</a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Tag" asp-action="Index" class="nav-link">Tags</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/faq") ? "active" : "")" asp-area="Admin" asp-controller="Faq" asp-action="Index">
            <i class="fi fi-rs-comments-question-check"></i>
            <span class="nav-link-text">FAQ</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/features") ? "active" : "")" asp-area="Admin" asp-controller="Features" asp-action="Index">
            <i class="fi fi-rs-dice-alt"></i>
            <span class="nav-link-text">Features</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/testimonials") ? "active" : "")" asp-area="Admin" asp-controller="Testimonial" asp-action="Index">
            <i class="fi fi-rs-comment-quote"></i>
            <span class="nav-link-text">Testimonials</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/team") ? "active" : "")" asp-area="Admin" asp-controller="AdminTeam" asp-action="Index">
            <i class="fi fi-rs-users-alt"></i>
            <span class="nav-link-text">Team</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/about") ? "active" : "")" asp-area="Admin" asp-controller="About" asp-action="Index">
            <i class="fi fi-rs-comment-question"></i>
            <span class="nav-link-text">About Us</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/partner") ? "active" : "")" asp-area="Admin" asp-controller="Partner" asp-action="Index">
            <i class="fi fi-rs-animated-icon"></i>
            <span class="nav-link-text">Partners</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/language") ? "active" : "")" asp-area="Admin" asp-controller="Language" asp-action="Index">
            <i class="fi fi-rs-globe"></i>
            <span class="nav-link-text">Language</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/menu") ? "active" : "")" asp-area="Admin" asp-controller="AdminMenu" asp-action="Index">
            <i class="fi fi-rs-chart-tree"></i>
            <span class="nav-link-text">Menu</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/page") ? "active" : "")" asp-area="Admin" asp-controller="Page" asp-action="Index">
            <i class="fi fi-rs-desktop-wallpaper"></i>
            <span class="nav-link-text">Custom Pages</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/seo") ? "active" : "")" asp-area="Admin" asp-controller="Seo" asp-action="Index">
            <i class="fi fi-rs-chart-line-up"></i>
            <span class="nav-link-text">SEO Settings</span>
        </a>
    </li>
</ul>

<!-- Heading -->
<h6 class="navbar-heading p-0 text-muted mt-4">Site Settings</h6>
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" asp-area="Admin" asp-controller="PageSettings" asp-action="Index">
            <i class="fi fi-rs-magic-wand"></i>
            <span class="nav-link-text">Page Settings</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Context.Request.Path.StartsWithSegments("/admin/developer-settings") ? "active" : "")"
           href="#dev-settings"
           data-toggle="collapse"
           role="button"
           aria-expanded="false"
           aria-controls="navbar-forms">
            <i class="fi fi-rs-settings"></i>
            <span class="nav-link-text">Developer Settings</span>
        </a>
        <div class="collapse" id="dev-settings">
            <ul class="nav nav-sm flex-column">

                <li class="nav-item">
                    <a href="@Url.Action("Show", "DeveloperSettings", new { id = "app-settings" })" class="nav-link">
                        App Settings
                    </a>

                </li>


                <li class="nav-item">
                    <a href="@Url.Action("Show", "DeveloperSettings", new { id = "mail-settings" })" class="nav-link">
                        SMTP Settings
                    </a>
                </li>

                <li class="nav-item">
                    <a href="@Url.Action("Show", "DeveloperSettings", new { id = "wa-settings" })" class="nav-link">
                        Whatsapp Server
                    </a>
                </li>

                <li class="nav-item">
                    <a href="@Url.Action("Show", "DeveloperSettings", new { id = "storage-settings" })" class="nav-link">
                        Storage Settings
                    </a>
                </li>

            </ul>
        </div>
    </li>

</ul>

<!-- My Settings -->
<h6 class="navbar-heading p-0 text-muted mt-2">My Settings</h6>
<ul class="navbar-nav mb-md-3">
    <li class="nav-item">
        <a class="nav-link @(currentPath.StartsWithSegments("/admin/profile") ? "active" : "")" asp-area="Admin" asp-controller="Profile" asp-action="Index">
            <i class="fi fi-rs-comment-user"></i>
            <span class="nav-link-text">Profile Settings</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link logout-button" href="#" onclick="document.getElementById('logout-form').submit();">
            <i class="ni ni-button-power"></i>
            <span class="nav-link-text">Logout</span>
        </a>
    </li>
</ul>

<form id="logout-form" method="post" asp-area="Admin" asp-controller="Account" asp-action="Logout">
    @Html.AntiForgeryToken()
</form>