@inject IHttpContextAccessor HttpContextAccessor
@{
    var userEmail = HttpContextAccessor.HttpContext.Session.GetString("UserEmail");
    var userName = HttpContextAccessor.HttpContext.Session.GetString("UserName");
}
@using System.Security.Claims
<header>
    <!-- tp-header-area-start -->
    <div id="header-sticky" class="tp-header__area tp-header__space tp-header__transparent tp-header__menu-space z-index-5">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-2 col-md-6 col-8">
                    <div class="tp-header__logo">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="@ViewData["FooterLogo"]" alt="Logo" />
                        </a>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 d-none d-lg-block">
                    <div class="tp-header__main-menu tp-header__main-menu1">
                        <nav id="mobile-menu">
                            <ul>
                                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                <li><a href="@Url.Action("Index", "Pricing")">Pricing</a></li>
                                <li><a href="@Url.Action("Index", "About")">About</a></li>
                                <li><a href="@Url.Action("List", "Features")">Features</a></li>
                                <li><a href="@Url.Action("Index", "Blog")">Blogs</a></li>
                                <li><a href="@Url.Action("Index", "Contact")">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-4">
                    <div class="tp-header__right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <a class="tp-btn d-none d-md-block" href="@Url.Action("Index", "AdminHome")">
                                    <span> Admin Dashboard</span>
                                </a>
                            }
                            else
                            {
                                <a class="tp-btn d-none d-md-block" href="@Url.Action("Index", "UserHome")">
                                    <span>User Dashboard</span>
                                </a>
                            }
                        }

                        else
                        {
                            <a class="tp-btn d-none d-md-block" href="@Url.Action("Index", "Login")">
                                <span>Login</span>
                            </a>
                            <a class="tp-btn d-none d-md-block" href="@Url.Action("Index", "Pricing")">
                                <span>Get Started</span>
                            </a>
                        }
                        <a class="tp-header__bars tp-menu-bar" href="javascript:void(0)">
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tp-header-area-end -->
</header>

<!-- tp-offcanvas-area-start -->
<div class="tp-offcanvas-area">
    <div class="tpoffcanvas">
        <div class="tpoffcanvas__close-btn">
            <button class="close-btn"><i class="fal fa-times"></i></button>
        </div>
        <div class="tpoffcanvas__logo">
            <a href="/">
                <img src="@ViewData["FooterLogo"]" alt="">
            </a>
        </div>
        <div class="tpoffcanvas__text">
            <p>@ViewData["FooterDescription"]</p>
        </div>
        <div class="mobile-menu"></div>
        <div class="tpoffcanvas__info">
            <h3 class="offcanva-title">Get In Touch</h3>
            <div class="tp-info-wrapper mb-20 d-flex align-items-center">
                <div class="tpoffcanvas__info-icon">
                    <a href="mailto:@ViewData["ContactEmail"]"><i class="fal fa-envelope"></i></a>
                </div>
                <div class="tpoffcanvas__info-address">
                    <span>Email</span>
                    <a href="mailto:@ViewData["ContactEmail"]">@ViewData["ContactEmail"]</a>
                </div>
            </div>
            <div class="tp-info-wrapper mb-20 d-flex align-items-center">
                <div class="tpoffcanvas__info-icon">
                    <a href="tel:@ViewData["ContactPhone"]"><i class="fal fa-phone-alt"></i></a>
                </div>
                <div class="tpoffcanvas__info-address">
                    <span>Phone</span>
                    <a href="tel:@ViewData["ContactPhone"]">@ViewData["ContactPhone"]</a>
                </div>
            </div>
            <div class="tp-info-wrapper mb-20 d-flex align-items-center">
                <div class="tpoffcanvas__info-icon">
                    <a href="#"><i class="fas fa-map-marker-alt"></i></a>
                </div>
                <div class="tpoffcanvas__info-address">
                    <span>Address</span>
                    <a href="javascript:void(0)">@ViewData["Address"]</a>
                </div>
            </div>
        </div>
        <div class="tpoffcanvas__social">
            <div class="social-icon">
                @if (!string.IsNullOrEmpty(ViewData["Twitter"]?.ToString()))
                {
                    <a href="@ViewData["twitter"]"><i class="fab fa-twitter"></i></a>
                }
                @if (!string.IsNullOrEmpty(ViewData["instagram"]?.ToString()))
                {
                    <a href="@ViewData["instagram"]"><i class="fab fa-instagram"></i></a>
                }
                @if (!string.IsNullOrEmpty(ViewData["facebook"]?.ToString()))
                {
                    <a href="@ViewData["facebook"]"><i class="fab fa-facebook-square"></i></a>
                }
                @if (!string.IsNullOrEmpty(ViewData["linkedin"]?.ToString()))
                {
                    <a href="@ViewData["linkedin"]"><i class="fab fa-linkedin"></i></a>
                }
            </div>
        </div>
    </div>
</div>
<!-- tp-offcanvas-area-end -->
