@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "Transaction History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/assets/vendor/select2/dist/css/select2.min.css" />
}



<!-- Modal -->
<div class="modal fade" id="send-template-bulk" tabindex="-1" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog">
        @if (Model.Templates.Any() && Model.Groups.Any())
        {
            <div class="modal-content">
                <form asp-action="SendTemplateBulk" asp-controller="Contact" asp-area="User" method="post" class="ajaxform_instant_reload">
                    <input type="hidden" name="page_url" value="@Context.Request.Path + Context.Request.QueryString" />
                    <div class="modal-header">
                        <h5 class="modal-title">@Localizer["Send Bulk Message With Template"]</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>@Localizer["Select Template"]</label>
                            <select name="template" class="form-control">
                                @foreach (var template in Model.Templates)
                                {
                                    <option value="@template.Id">@template.Title</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>@Localizer["Select Device"]</label>
                            <select name="device" class="form-control">
                                @foreach (var device in Model.Devices)
                                {
                                    <option value="@device.Id">@device.Name - @device.Phone</option>
                                }
                            </select>
                        </div>
                        <div class="form-group receivers">
                            <label>@Localizer["Select Group"]</label>
                            <select name="group" class="form-control select2">
                                @foreach (var group in Model.Groups)
                                {
                                    <option value="@group.Id">@group.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-neutral submit-btn float-right">@Localizer["Sent Now"]</button>
                    </div>
                </form>
            </div>
        }
        else
        {
            <div class="alert bg-gradient-primary text-white">
                <span class="text-left">@Localizer["Create some template and contacts"]</span>
            </div>
        }
    </div>
</div>

<!-- Summary Cards -->
<div class="row justify-content-center">
    <div class="col-12">
        <div class="row d-flex justify-content-between flex-wrap">
            <div class="col">
                <div class="card card-stats">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <span class="h2 font-weight-bold mb-0 total-transfers">@Model.Total.ToString("N0")</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-gradient-primary text-white rounded-circle shadow">
                                    <i class="fi fi-rs-rocket-lunch mt-2"></i>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title text-muted mb-0">@Localizer["Total Messages Sent"]</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-stats">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <span class="h2 font-weight-bold mb-0 pending-transfers">@Model.Last30Messages.ToString("N0")</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-gradient-primary text-white rounded-circle shadow">
                                    <i class="ni ni-calendar-grid-58"></i>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title text-muted mb-0">@Localizer["Last 30 days Messages"]</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-stats">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <span class="h2 font-weight-bold mb-0 completed-transfers">@Model.TodayTransaction.ToString("N0")</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-gradient-primary text-white rounded-circle shadow">
                                    <i class="fi fi-rs-calendar-day mt-2"></i>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title text-muted mb-0">@Localizer["Today's Transaction"]</h5>
                    </div>
                </div>
            </div>
        </div>

        <!-- Table -->
        <div class="card mt-4">
            <div class="card-body">
                <div class="row">
                    @if (Model.Posts.Any())
                    {
                        <div class="col-sm-12">
                            <h4>@Localizer["Transaction History"]</h4>
                        </div>
                        <div class="col-sm-12 table-responsive">
                            <table class="table col-12">
                                <thead>
                                    <tr>
                                        <th>@Localizer["Message From"]</th>
                                        <th>@Localizer["Message To"]</th>
                                        <th>@Localizer["Message Type"]</th>
                                        <th>@Localizer["Template name"]</th>
                                        <th class="text-right">@Localizer["Requested At"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var log in Model.Posts)
                                    {
                                        <tr>
                                            <td>@log.From</td>
                                            <td>@log.To</td>
                                            <td>@(log.Template != null ? "Template" : "Plain Text")</td>
                                            <td>@(log.Template?.Title ?? "")</td>
                                            <td class="text-right">@log.CreatedAt.ToString("dd MMMM yyyy")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-center">
                                @* @Html.Partial("_Pagination", Model.Posts) *@
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="btn btn-neutral col-12 text-center">@Localizer["No Transaction Found"]</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/assets/vendor/select2/dist/js/select2.min.js"></script>
    <script src="~/assets/js/pages/user/wa-bulk-index.js?v=1"></script>
}
