@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "Create Scheduled Message";
    var devices = ViewBag.Devices as List<dynamic>; // Use your actual model type
    var groups = ViewBag.Groups as List<dynamic>;   // Use your actual model type


}
@await Html.PartialAsync("_HeaderSection")

<div class="row justify-content-center">
    <div class="col-12">
        <div class="card">
            <div class="card-header row">
                <h4 class="text-left col-6">Create Scheduled Message</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
    

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>@("Scheduled Name")</label>
                                <input type="text" name="Title" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>@("Select Number")</label>
                                <select name="Device" class="form-control" required>
                                    @foreach (var device in ViewBag.Devices as List<Device>)
                                    {
                                        <option value="@device.Id">@device.Phone</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>@("Receiver Group")</label>
                                <select name="Group" class="form-control" required>
                                    
                                    @if (groups != null && groups.Any())
                                    {
                                        foreach (var groupViewModel in groups)
                                        {
                                            var group = groupViewModel?.Group;
                                            var contacts = groupViewModel?.Contacts;
                                            var contactsCount = contacts != null ? contacts.Count : 0;

                                            if (group != null)
                                            {
                                                <option value="@group.Id">@group.Name - (@contactsCount @("Contacts"))</option>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <option disabled>No groups available</option>
                                    }


                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label>@("Delivery date and time")</label>
                            <div class="input-group">
                                <input type="datetime-local" name="Date" class="form-control" required min="@DateTime.Now.ToString("yyyy-MM-dd")">
                                <div class="input-group-append">
                                    <select name="Timezone" class="form-control" required>
                                        <option value="" disabled selected>@("Select Timezone")</option>
                                        @foreach (var timezone in TimeZoneInfo.GetSystemTimeZones())
                                        {
                                            <option value="@timezone.Id">@timezone.DisplayName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>@("Messaging Type")</label>
                                <select name="MessageType" class="form-control" required>
                                    <option value="text">@("Text Message")</option>
                                    <option value="template">@("Template Message")</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="plain-text">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>@("Message")</label>
                                <textarea name="Message" class="form-control" required maxlength="1000" placeholder="@("Note: {name} write the name according to the recipient.")"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="templates-list none">
                        <div class="form-group">
                            <label>@("Select Template")</label>
                            <select name="Template" class="form-control">
                                @foreach (var template in ViewBag.Templates as List<Template>)
                                {
                                    <option value="@template.Id">@template.Title</option>
                                }
                            </select>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-outline-primary">@("Create Schedule")</button>
                </form>

                <script src="@Url.Content("~/assets/js/pages/user/schedule-create.js")"></script>
            </div>
        </div>
    </div>
</div>
