@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "Create Scheduled Message";
    var devices = ViewBag.Devices as List<dynamic>; // Use your actual model type
    var groups = ViewBag.Groups as List<dynamic>;   // Use your actual model type


}
@await Html.PartialAsync("_HeaderSection")

<div class="row justify-content-center">
    <div class="col-12">
        <div class="card">
            <div class="card-header row">
                <h4 class="text-left col-6">Create Scheduled Message</h4>
                <div class="col-6 text-right">
                    <a href="@Url.Action("Index", "ScheduleMessage")" class="btn btn-outline-secondary">Back</a>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Create" asp-controller="ScheduleMessage" method="post" enctype="multipart/form-data" class="ajaxform_reset_form">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Scheduled Name</label>
                                <input type="text" name="Title" class="form-control" required />
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Select Number</label>
                                <select name="Device" class="form-control" required>
                                    @foreach (var device in ViewBag.Devices)
                                    {
                                        <option value="@device.Id">@device.Phone</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Receiver Group</label>
                                <select name="Group" class="form-control select2">
                                    @foreach (var group in ViewBag.Groups)
                                    {
                                        <option value="@group.Id">@group.Name - (@group.ContactsCount Contacts)</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label>Delivery date and time</label>
                            <div class="input-group">
                                <input type="datetime-local" name="Date" class="form-control" required min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                                <div class="input-group-append">
                                    <select name="Timezone" class="form-control" required>
                                        <option value="" disabled selected>Select Timezone</option>
                                        @foreach (var timezone in TimeZoneInfo.GetSystemTimeZones())
                                        {
                                            <option value="@timezone.Id">@timezone.Id</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Messaging Type</label>
                                <select name="MessageType" class="form-control message_type" required>
                                    <option value="text">Text Message</option>
                                    <option value="template">Template Message</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row plain-text">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Message</label>
                                <textarea name="Message" class="form-control h-200" required maxlength="1000" placeholder="note : {name} write the name according to the recipient."></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="templates-list none">
                        <div class="form-group">
                            <label>Select Template</label>
                            <select name="Template" class="form-control">
                                @foreach (var template in ViewBag.Templates)
                                {
                                    <option value="@template.Id">@template.Title</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-outline-primary submit-button">Create Schedule</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/assets/js/pages/user/schedule-create.js"></script>
}